<!--#?index-->
<h1>{{message}}</h1>
<p>
This file useful for storing all sorts of handlebar snippits
which you may find too tiny to put in a single file
</p>

<!--#?end-->

<!--#?alist-->
<ul>
    <li>rawrr</li>
</ul>

<!--#?end-->

